body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.linkbutton {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 0px;
  font-size: 20px;

  background-color: white;
    color: black;
    border: 2px solid black;
  
}

.linkbutton:hover {
  background-color: black;
  color: white;
}

