body {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 70em;
  padding: 1em 0;
  background-color: rgb(250, 250, 250);
}


.imageLink {
  float: auto;
}

.cart {
  float: right;
  
}

.linkbutton {
  -webkit-transition-duration: 0.4s;
  transition-duration: .5s;
  border-radius: 0px;
  font-size: 20px;
  font-weight: bolder;
  

  background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid black;
    padding: 16px 24px;
    margin: 15px;  
}

.linkbutton:hover {
  background-color: #212121;
  color: white;
}


.loginbutton {
-webkit-transition-duration: 0.4s;
transition-duration: .5s;
border-radius: 0px;
font-size: 15px;
font-weight: bolder;
float: left;

background-color: rgb(255, 255, 255);
color: black;
border: 2px solid black;
padding: 5px 10px;
margin: 1px;  
}

.loginbutton:hover {
  background-color: #212121;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
  grid-column-gap: 10px;
  grid-row-gap: 25px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
  background-color: rgb(250, 250, 250);
  padding: 10px;
  border-radius: 10px;   
}
.item {
  background-color: white;
  padding: 40px;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;    
}

.addCart {
  background-color: darkgray;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.addCart:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #212121;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: .50s;
  transition-duration: .50s;
}

  
.grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 3em; */
}

.module {
  /* Demo-Specific Styles */
  margin: 10px;
  background: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 480px;
  width: 320px;
  padding: 10px;
  overflow: hidden;
  flex-direction: wrap !important;
  border: 2px solid white;
  border-radius: 10px
  
  /* Flex Fallback
  /* margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px; */
} 

/* If Grid is supported, remove the margin we set for the fallback */
