body {

  font-family: sans-serif;
  margin: 0 auto;
  max-width: 90%;
  padding: 1em 0;
}

.imageLink {
  margin: auto;
}

.cart {
  float: right;
  
}

.linkbutton {
  -webkit-transition-duration: 0.4s;
  transition-duration: .5s;
  border-radius: 0px;
  font-size: 20px;
  font-weight: bolder;
  

  background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid black;
    padding: 16px 24px;
    margin: 15px;  
}

.linkbutton:hover {
  background-color: #212121;
  color: white;
}


.loginbutton {
-webkit-transition-duration: 0.4s;
transition-duration: .5s;
border-radius: 0px;
font-size: 15px;
font-weight: bolder;
float: left;

background-color: rgb(255, 255, 255);
color: black;
border: 2px solid black;
padding: 10px 15px;
margin: 1px;  
}

.loginbutton:hover {
  background-color: #212121;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
  grid-column-gap: 10px;
  grid-row-gap: 25px;
  
  background-color: white;
  padding: 10px;
  border-radius: 10px;   
}
.item {
  background-color: white;
  padding: 40px;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;    
}

.addCart {
  background-color: darkgray;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.addCart:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #212121;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: .50s;
  transition-duration: .50s;
}
